@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .interactive-cell {
    @apply dark:text-neutral-300 text-neutral-500 py-2 px-3 rounded-md;
    @apply transition-all hover:bg-gray-300 hover:text-neutral-800 dark:hover:text-neutral-100 dark:hover:bg-nb-gray-800/60 cursor-pointer;
  }

  .table-row-hoverable {
    @apply transition-all hover:bg-gray-100 dark:hover:bg-nb-gray-940 cursor-pointer;
  }

  /* Semantic Text Classes */
  .text-primary {
    @apply text-gray-700 dark:text-nb-gray-100;
  }

  .text-muted {
    @apply text-neutral-500 dark:text-neutral-400;
  }

  .text-highlight {
    @apply text-netbird;
  }

  /* Semantic Border Class */
  .border-default {
    @apply border-neutral-200 dark:border-nb-gray-700;
  }

  /* Semantic Background Class */
  .bg-subtle-emphasis {
    @apply bg-gray-100 dark:bg-nb-gray-930/80;
  }

  .bg-default {
    @apply bg-white dark:bg-nb-gray-950;
  }
}

h1 {
    @apply text-2xl font-medium text-gray-700 dark:text-nb-gray-100 my-1;
}
h2 {
    @apply text-xl font-medium text-gray-700 dark:text-nb-gray-100 my-1;
}
p {
    @apply font-light tracking-wide text-gray-700 dark:text-zinc-50 text-sm;
}

.p-default {
    @apply px-4 sm:px-6 md:px-8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

[placeholder]{
    text-overflow:ellipsis;
}

.animated-gradient-bg{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100%;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.sticky {
    position: sticky !important;
    left: 0;
    top: 0;
    z-index: 1;
}


.table-fixed-scroll {
    display: table;
    position: relative;
    width: 100%;
}

.stepper-bg-variant .step-circle {
    @apply !border-[#1d2024];
}

.webkit-scroll{
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}