name: build and push
on:
  push:
    branches:
      - main
    tags:
      - "**"

jobs:
  build_n_push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: setup-node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install dependecies
        run: npm install

      - name: Build 
        # skiping fail on warning for now
        run: CI=false npm run build
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: wiretrustee/dashboard
      -
        name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}
      -
        name: Docker build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: docker/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}